SPRING_PROFILES_ACTIVE=dev

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

# PostgreSQL 기본 설정
POSTGRES_CONTAINER_NAME=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# 포트
POSTGRES_PORT=

# 볼륨 & 네트워크 이름
POSTGRES_VOLUME_NAME=
PROJECT_NETWORK=

# 소셜 로그인
KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=
KAKAO_ADMIN_KEY=
KAKAO_REST_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# MZTK
## COMMON SETTINGS
TREASURY_WALLET_ADDRESS=
# 절대 실제 키를 커밋하지 말고, 로컬 .env에만 설정하세요.
TREASURY_KEY_ENCRYPTION_KEY_B64=__SET_ME_BASE64_KEY__
TREASURY_PRIVATE_KEY=__SET_ME_PRIVATE_KEY__

TREASURY_ETH_WARNING_THRESHOLD=
TREASURY_ETH_CRITICAL_THRESHOLD=

# WEB3 검색기
WEB3_EXPLORER_BASE_URL=
WEB3_EXPLORER_API_KEY=

# MZTK 배포 환경
WEB3_CHAIN_ID=
WEB3_RPC_MAIN=
WEB3_RPC_SUB=
MZTK_TOKEN_CONTRACT_ADDRESS=

# EIP-712 설정
WEB3_EIP712_VERIFYING_CONTRACT=

# EIP-7702 설정
WEB3_EIP7702_DELEGATION_CONTRACT_ADDRESS=
WEB3_EIP7702_NONCE_TRACKER_ADDRESS=
WEB3_EIP7702_BATCH_IMPL_ADDRESS=
WEB3_EIP7702_DEFAULT_RECEIVER_ADDRESS=

# EIP-7702 스폰서 지갑 설정
SPONSOR_WALLET_ADDRESS=
SPONSOR_KEY_ENCRYPTION_KEY_B64=__SET_ME_BASE64_KEY__

# AWS S3 IAM credentials
AWS_S3_BUCKET=
AWS_IAM_ACCESS_KEY=
AWS_IAM_SECRET_KEY=