SPRING_PROFILES_ACTIVE=dev

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

# PostgreSQL 기본 설정
POSTGRES_CONTAINER_NAME=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# 포트
POSTGRES_PORT=

# 볼륨 & 네트워크 이름
POSTGRES_VOLUME_NAME=
PROJECT_NETWORK=

KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=